@{
    ViewData["Title"] = "Login";
}

<h1>Welcome back!</h1>
<h3>Choose your role</h3>
<a class="btn btn-primary" asp-controller="User" asp-action="Login">User</a>
<a class="btn btn-primary" asp-controller="Author" asp-action="Login">Author</a>