@{
    ViewData["Title"] = "Register";
}

<h1>Welcome!</h1>
<h3>Choose your role</h3>
<a class="btn btn-primary" asp-controller="User" asp-action="Create">User</a>
<a class="btn btn-primary" asp-controller="Author" asp-action="Create">Author</a>