@model IEnumerable<DemoBookStore.Models.OrderModel>

<h2>My Orders</h2>

@if (!Model.Any())
{
    <p>You have no orders yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Books</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Date.ToShortDateString()</td>
                    <td>
                        <ul>
                            @foreach (var book in order.Books)
                            {
                                <li>@book.Title - @book.Price$</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
